@media screen,print{	#id{}
	#id .clr{color:#eee;}
}
#id{border:1px solid #eee;}
.clr{a:#ddd 0px 555555.00001px;}
.clr{background:url("./xxx.jpg") no-repeat 0 0 scoll;border:1px solid #eee;}
.clr{a:filter(0.1111px , 11.1em);}
div{a:11.1em #dscxzcx;}
