div{width:300px;height:300px;margin-bottom:10px;border-bottom:3px solid #000;}
#id1{background:sprite Img Err;}
#id2{background:sprite Img Err repeat-x transparent;}
#id3{background:sprite Img Err;}
#id4{background:sprite Img Err;}
#id5{background:sprite Img Err;}
